#container {
  width: 1500px;
}

#gameCanvas, #shop {
  border: 1px solid #000000;
  display: block;
}

#shop {
  width: 900px;
}

#attack, #defend, #item, #run, #restart, #logout {
  visibility: hidden;
}